:root {
    --primary-blue-dark: #00102A;
	--primary-color-paragraph: #0D264F;
	--primary-color-instax: #153D7F;
    --primary-color-red: #B20019;
    --red-hover: #9E0016;
    --primary-blue-text: rgba(14, 82, 183, 1);
}